{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 99,
        "parser": "flow"
      }
    ],
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "double"
    ],
    "sort-keys": [0],
    "no-undef": [2],
    "no-unused-vars": [2, { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "import/no-duplicates": [2],
    "import/no-absolute-path": [2],
    "import/no-self-import": [2],
    "import/no-cycle": [2],
    "import/no-mutable-exports": [2],
    "import/first": [2],
    "import/newline-after-import": [2],
    "import/prefer-default-export": [0],
    "react/prop-types": 2,
    "react/no-multi-comp": [2, { "ignoreStateless": false }],
    "react/no-deprecated": [2],
    "react/no-access-state-in-setstate": [2],
    "react/no-did-mount-set-state": [2],
    "react/no-typos":[2],
    "react/sort-prop-types": [0],
    "react/jsx-sort-props": [2],
    "react/jsx-no-bind": [2],
    "react/jsx-uses-react": [0],
    "react/react-in-jsx-scope": [0]
  },
  "extends": [
    "plugin:import/typescript",
    "plugin:react/recommended",
    "prettier"
  ],
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx"
    ],
    "import/resolver": {
      "babel-module": {}
    }
  },
  "plugins": [
    "react",
    "import",
    "prettier"
  ],
  "parser": "babel-eslint"
}

